/* plotted images */

  img {
      display: block;
      margin: auto;
  }
  
  .large img {
      width: 70%;
    }
    
  .medium img {
      width: 60%;
    }
  
  .small img {
    width: 50%;
  }

/* Other images */

  .noheader img{
    margin-top: 150px;
  }
  
  /* tube map */
  
  .tm img {
    margin-top: 150px;
    width: 1000px;
  }
  
  /* resources */
  
  .resources table {
    margin: auto;
    font-size: 200%;
    line-height: 2em;
  }
  
/* Text */

  /* General */
  
    .centre {
      text-align: center;
    }
    
    .tinyText {
      font-size: 40%;
    }

    .grey {
      color: #dddddd;
    }
    
    .red {
      color: #e41a1c;
    }
    
    .blue {
      color: #377eb8;
    }
    
    .green {
      color: #4daf4a;
    }
    
    .purple {
      color: #984ea3;
    }
    
    .orange {
      color: #ff7f00;
    }
    
    .yellow {
      color: #ffff33;
    }
    
    .rotate {
      display: inline-block;
      padding-left: 20px;
      transform: rotate(35deg);
    }

  /* Headings */
      h1 {
    text-align: center;
    }
    
    .noH1 h1 {
      display: none !important;
    }
    
    .title {
      margin-top: 5% !important;
    }
    
    .level1 h1 {
      padding-top: 20% !important;
      font-size: 120%;
    }
    
    .level2 h1 {
      padding: 75pt 0 20pt 0 !important;
    }
    
    .subtitle h1 {
      margin: 0;
      padding: 0;
    }
    
    .slide h1 {
      margin-right: 0 !important;
    }
  
  /* Paragraphs */
  
    .extraLargeText {
      font-size: 300%;
      line-height: 1.5em;
      text-align: center;
      margin-left: 20%;
      margin-right: 20%;
    }
    .largeText p {
      font-size: 150%;
      line-height: 1.5em;
      text-align: center;
      margin-left: 20%;
      margin-right: 20%;
    }
  
  /* Lists */
  
    .level2 ul {
      margin-left: 25%;
      margin-right: 25%;
    }

    .level2 ul li ul li {
      margin-left: -40%;
      font-style: inherit;
    }
  
  /* Quotes */
  
    .ppushed p, blockquote p {
      margin-left: 20%;
      margin-right: 20%;
    }

    blockquote p {
      text-align: center;
      font-size: 140%;
      line-height: 1.2em;
      padding-top: 100px;
    }
    
    .citation {
      text-align: center;
      padding-top: 50px;
      display: inherit;
      font-size: 80%;
    }
      
/* river frequency table */
  .datatables {
    width: 40% !important;
    margin-left: 3%;
    margin-right: 8%;
    float: left;
  }

/* stem and leaf plot */
  .section pre {
    display: inline-block;
    width: 40%;
    float: left;
    font-size: 65%;
    line-height: 90%;
  }
  
  pre {
    background-color: #fff;
    border: 0px !important;
  }
  
  .dot img{
    margin-top: 50px;
  }
  
  /* NY Times images */
  
  .ny_times img {
    width: 37%;
  }
  
  /* population table*/
    .poptable table {
    font-size: 90%;
  }
  
  .td4 td:nth-of-type(4) {
  background: #1f78b4;
  color: #fff;
    }
  
  .td5 td:nth-of-type(5) {
  background: #1f78b4;
  color: #fff;
    }

  .td6 td:nth-of-type(6) {
  background: #1f78b4;
  color: #fff;
    }
    
    .td7 td:nth-of-type(7) {
  background: #1f78b4;
  color: #fff;
    }
    
    .td8 td:nth-of-type(8) {
  background: #1f78b4;
  color: #fff;
    }